In [47]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('wordnet')
nltk.download('averaged_perceptron_tagger')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\naren\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\naren\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\naren\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     C:\Users\naren\AppData\Roaming\nltk_data...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!

True

In [48]:
import pandas as pd
import string

In [100]:
df = pd.read_excel('C://Users//naren//OneDrive//Documents//nlp.xlsx', header=0)
df.head(3)

                                         text    servers
0  a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO  111191819
1         JHJSABJH ASGHUIAG IAHD I^78us khhad   11918918
2    yugyua678sa uis-dasgu- jkdhhbn- jjkah-09    8918911

In [60]:
import pandas as pd
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import CountVectorizer
#setting max width to show all columns in dataframe
pd.set_option('max_colwidth', 100)

In [101]:
df['clean_text'] = df['text'].str.lower()
df.head()

,text,servers,clean_text
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,a-c-v-d acvd hdujiashd dhyn2`had (aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i^78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjak-hu-i- diuhd diadu jdid

In [102]:
def remove_punctuations(text):
    punctuations = string.punctuation
    return text.translate(str.maketrans('', '', punctuations))

In [103]:
# punctuations are nothing but extra characters
df['clean_text'] = df['clean_text'].apply(lambda x: remove_punctuations(x))
df.head()

,text,servers,clean_text
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid

In [64]:
from nltk.corpus import stopwords

In [104]:
STOPWORDS = set(stopwords.words('english'))
def remove_stopwords(text):
    return " ".join([word for word in text.split() if word not in STOPWORDS])

In [105]:
df['clean_text'] = df['clean_text'].apply(lambda x: remove_stopwords(x))
df.head()

,text,servers,clean_text
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid

## Removal of Frequent Words

In [57]:
from collections import Counter
word_count = Counter()
for text in df['clean_text']:
    for word in text.split():
        word_count[word] += 1
        
word_count.most_common(10)

[('acvd', 1),
 ('hdujiashd', 1),
 ('dhyn2had', 1),
 ('aklnoijo', 1),
 ('jhjsabjh', 1),
 ('asghuiag', 1),
 ('iahd', 1),
 ('i78us', 1),
 ('khhad', 1),
 ('yugyua678sa', 1)]

In [16]:
FREQUENT_WORDS = set(word for (word, wc) in word_count.most_common(3))
def remove_freq_words(text):
    return " ".join([word for word in text.split() if word not in FREQUENT_WORDS])

In [58]:
df['clean_text'] = df['clean_text'].apply(lambda x: remove_freq_words(x))
df.head()

,text,servers,clean_text
0,a-c-v-d hdujiashd dhyn2`had (AKLNOIJO,111191819,aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid

### Removal of Rare Words

In [18]:
RARE_WORDS = set(word for (word, wc) in word_count.most_common()[:-10:-1])
RARE_WORDS

{'ad', 'adadya', 'adak', 'adkhk', 'adlad', 'aohd', 'di', 'dk', 'yad'}

In [19]:
def remove_rare_words(text):
    return " ".join([word for word in text.split() if word not in RARE_WORDS])

In [20]:
df['clean_text'] = df['clean_text'].apply(lambda x: remove_rare_words(x))
df.head()

,text,servers,clean_text
0,a-c-v-d hdujiashd dhyn2`had (AKLNOIJO,111191819,aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid

### Removal of Special characters

In [106]:
import re
def remove_spl_chars(text):
    text = re.sub('[^a-zA-Z0-9]', ' ', text)
    text = re.sub('\s+', ' ', text)
    return text

In [107]:
df['clean_text'] = df['clean_text'].apply(lambda x: remove_spl_chars(x))
df.head()

,text,servers,clean_text
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid

### Stemming

In [108]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [109]:
df['stemmed_text'] = df['clean_text'].apply(lambda x: stem_words(x))
df.head()

,text,servers,clean_text,stemmed_text
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd acvd hdujiashd dhyn2had aklnoijo,acvd acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad,jhjsabjh asghuiag iahd i78u khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid

### Lemmatization & POS Tagging

In [110]:
from nltk import pos_tag
from nltk.corpus import wordnet
from nltk.stem import WordNetLemmatizer

lemmatizer = WordNetLemmatizer()
wordnet_map = {"N":wordnet.NOUN, "V": wordnet.VERB, "J": wordnet.ADJ, "R": wordnet.ADV}

def lemmatize_words(text):
    # find pos tags
    pos_text = pos_tag(text.split())
    return " ".join([lemmatizer.lemmatize(word, wordnet_map.get(pos[0], wordnet.NOUN)) for word, pos in pos_text])

In [111]:
df['lemmatized_text'] = df['clean_text'].apply(lambda x: lemmatize_words(x))
df.head()

,text,servers,clean_text,stemmed_text,lemmatized_text
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd acvd hdujiashd dhyn2had aklnoijo,acvd acvd hdujiashd dhyn2had aklnoijo,acvd acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad,jhjsabjh asghuiag iahd i78u khhad,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid

### Removal of URLs

In [112]:
def remove_html_tags(text):
    return re.sub(r'<.*?>', '', text)

In [113]:
df['remove_html'] = df['clean_text'].apply(lambda x: remove_html_tags(x))
df.head()

,text,servers,clean_text,stemmed_text,lemmatized_text,remove_html
0,a-c-v-d acvd hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd acvd hdujiashd dhyn2had aklnoijo,acvd acvd hdujiashd dhyn2had aklnoijo,acvd acvd hdujiashd dhyn2had aklnoijo,acvd acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad,jhjsabjh asghuiag iahd i78u khhad,jhjsabjh asghuiag iahd i78us khhad,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid

### Spelling Correction

In [73]:
!pip install pyspellchecker

Requirement already satisfied: pyspellchecker in c:\users\naren\anaconda3\lib\site-packages (0.7.2)

In [74]:
from spellchecker import SpellChecker
spell = SpellChecker()

def correct_spellings(text):
    corrected_text = []
    misspelled_text = spell.unknown(text.split())
    # print(misspelled_text)
    for word in text.split():
        if word in misspelled_text:
            corrected_text.append(spell.correction(word))
        else:
            corrected_text.append(word)
            
    return " ".join(corrected_text)

In [75]:
df['remove_html'] = df['clean_text'].apply(lambda x: remove_html_tags(x))
df.head()

,text,servers,clean_text,stemmed_text,lemmatized_text,remove_html
0,a-c-v-d hdujiashd dhyn2`had (AKLNOIJO,111191819,acvd hdujiashd dhyn2had aklnoijo,acvd hdujiashd dhyn2had aklnoijo,acvd hdujiashd dhyn2had aklnoijo,acvd hdujiashd dhyn2had aklnoijo
1,JHJSABJH ASGHUIAG IAHD I^78us khhad,11918918,jhjsabjh asghuiag iahd i78us khhad,jhjsabjh asghuiag iahd i78u khhad,jhjsabjh asghuiag iahd i78us khhad,jhjsabjh asghuiag iahd i78us khhad
2,yugyua678sa uis-dasgu- jkdhhbn- jjkah-09,8918911,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09,yugyua678sa uisdasgu jkdhhbn jjkah09
3,jkhjkas7 jkakja 80a ajdjh9 daou8,187187827,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8,jkhjkas7 jkakja 80a ajdjh9 daou8
4,kjak-hu-i- diuhd diadu jdid,78678,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid,kjakhui diuhd diadu jdid

### Bag of Words

In [114]:
from sklearn.feature_extraction.text import CountVectorizer
bow = CountVectorizer(stop_words='english')

In [80]:
# fit the data
bow.fit(df['remove_html'])

CountVectorizer(stop_words='english')

In [115]:
vectorizer = CountVectorizer(stop_words='english')
X = vectorizer.fit_transform(df['remove_html'])

In [116]:
vectorizer.get_feature_names_out()

array(['80a', 'acvd', 'ad', 'adadya', 'adak', 'adkhk', 'adlad', 'aduioa',
       'aduo', 'ajdjh9', 'ajkdui', 'aklnoijo', 'aohd', 'asghuiag',
       'daou8', 'dhyn2had', 'di', 'diadu', 'diuhd', 'dk', 'hahkakjadl',
       'hdujiashd', 'i78us', 'iahd', 'ioadi', 'iua', 'jdid', 'jhjsabjh',
       'jio', 'jjkah09', 'jkakja', 'jkdhhbn', 'jkhjkas7', 'kahduiah',
       'khhad', 'kjakhui', 'ouyad', 'uisdasgu', 'yad', 'yugyua678sa'],
      dtype=object)

In [117]:
bag_of_words = pd.DataFrame(X.toarray(),columns = vectorizer.get_feature_names_out())
bag_of_words.head()

,80a,acvd,ad,adadya,adak,adkhk,adlad,aduioa,aduo,ajdjh9,...,jkakja,jkdhhbn,jkhjkas7,kahduiah,khhad,kjakhui,ouyad,uisdasgu,yad,yugyua678sa
0,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,1
3,1,0,0,0,0,0,0,0,0,1,...,1,0,1,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

In [118]:
bag_of_words['servers'] = df['servers']
bag_of_words.head()

,80a,acvd,ad,adadya,adak,adkhk,adlad,aduioa,aduo,ajdjh9,...,jkdhhbn,jkhjkas7,kahduiah,khhad,kjakhui,ouyad,uisdasgu,yad,yugyua678sa,servers
0,0,2,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,111191819
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,11918918
2,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,1,8918911
3,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,187187827
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,78678

In [99]:
bag_of_words.to_excel('C://Users//naren//OneDrive//Documents//bag_of_words.xlsx')

In [40]:
bow_features = bow.transform(df['remove_html'])
bow_features

<9x28 sparse matrix of type '<class 'numpy.int64'>'
	with 28 stored elements in Compressed Sparse Row format>

In [41]:
from sklearn.feature_extraction.text import CountVectorizer
matrix = CountVectorizer(max_features=1000)
X = matrix.fit_transform(df['remove_html']).toarray()

In [42]:
X

array([[0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
        0, 1, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
        0, 0, 0, 0, 1, 1],
       [1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 1, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        1, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 1, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0]], dtype=int64)

In [45]:
from sklearn.feature_extraction.text import CountVectorizer


#Creating the bag of words
bow_article = CountVectorizer().fit(df['remove_html'])

count_tokens=bow_article.get_feature_names()

article_vect = bow_article.transform(df['remove_html'])
count_tokens

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_names'

In [46]:
conda update scikit-learn

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [8]:
def preprocess(document):
   #changes document to lower case and removes stopwords'
    # change sentence to lower case
    document = document.lower()
    # tokenize into words
    words = word_tokenize(document)
    # remove stop words
    words = [word for word in words if word not in stopwords.words("english")]
    # join back words to make sentence
    document = " ".join(words)
    
    return document

In [ ]:
import nltk
nltk.download('punkt')
nltk.download('stopwords')

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

In [2]:
import pandas as pd

In [23]:
texts = df.text
# convert messages into list
messages = [text for text in texts]
# preprocess messages using the preprocess function
messages = [preprocess(message) for message in messages]
# creating bag of words model

In [16]:
# creating dataframe from bag of words matrix representation
df_bow = pd.DataFrame(bow_model.toarray(), columns = vectorizer.get_feature_names())
df_bow

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_names'

In [22]:
pip install -U scikit-learn

Requirement already satisfied: scikit-learn in c:\users\naren\anaconda3\lib\site-packages (1.3.0)
Collecting scikit-learn
  Obtaining dependency information for scikit-learn from https://files.pythonhosted.org/packages/4e/ba/ce9bd1cd4953336a0e213b29cb80bb11816f2a93de8c99f88ef0b446ad0c/scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata
  Downloading scikit_learn-1.3.2-cp311-cp311-win_amd64.whl.metadata (11 kB)
Requirement already satisfied: numpy<2.0,>=1.17.3 in c:\users\naren\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\naren\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\naren\anaconda3\lib\site-packages (from scikit-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\naren\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Downloading scikit_learn-1.3.2-cp311-cp311-win_amd64.whl (9.2 MB)
   ---------------------------------------- 0.0/9.2 MB ? eta -:--:--
   ---------------------------------------- 0.0/9.2 MB 2.0 MB/s eta 0:00:05
    --------------------------------------- 0.2/9.2 MB 3.1 MB/s eta 0:00:03
   -- ------------------------------------- 0.6/9.2 MB 5.7 MB/s eta 0:00:02
   ------- -------------------------------- 1.6/9.2 MB 10.3 MB/s eta 0:00:01
   ----------- ---------------------------- 2.7/9.2 MB 14.2 MB/s eta 0:00:01
   ------------ --------------------------- 2.8/9.2 MB 11.9 MB/s eta 0:00:01
   ---------------- ----------------------- 3.9/9.2 MB 13.0 MB/s eta 0:00:01
   --------------------- ------------------ 5.0/9.2 MB 14.5 MB/s eta 0:00:01
   -------------------------- ------------- 6.2/9.2 MB 15.8 MB/s eta 0:00:01
   -------------------------------- ------- 7.4/9.2 MB 16.9 MB/s eta 0:00:01
   ---------------------------------- ----- 8.0/9.2 MB 17.6 MB/s eta 0:00:01
   ------------------------------------- -- 8.7/9.2 MB 16.9 MB/s eta 0:00:01
   ---------------------------------------  9.2/9.2 MB 17.3 MB/s eta 0:00:01
   ---------------------------------------- 9.2/9.2 MB 15.5 MB/s eta 0:00:00
Installing collected packages: scikit-learn
  Attempting uninstall: scikit-learn
    Found existing installation: scikit-learn 1.3.0
    Uninstalling scikit-learn-1.3.0:
      Successfully uninstalled scikit-learn-1.3.0
Successfully installed scikit-learn-1.3.2
Note: you may need to restart the kernel to use updated packages.

In [24]:
vectorizer = CountVectorizer()
bow_model = vectorizer.fit_transform(messages)

In [25]:
vectorizer.get_feature_names()

AttributeError: 'CountVectorizer' object has no attribute 'get_feature_names'